body {
    cursor: url('../cursor/cursor.cur'), pointer;
}

#workSpace {
    width: 1040px;
    height: 600px;
    margin: 0 auto;
}

#menu {
    float: left;
    width: 185px;
}

#wrapper {
    position: relative;
    float: left; 
    width: 800px;
    height: 600px;
}

#add-text {
    border: 0;
    background-color: transparent;
    position:absolute;
    display: none;
    z-index: 2; 
    font-size: 10px;
}

#add-text:focus {
    outline: 0;
}

#tools {
    width: 40px;
    float: left;
}

.btn {
    background-color: white;
    float: right;
    border: none; 
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.btn:hover {
    background-color: #f7f7f7;
}

#clear {
    background-image: url(../asset/clear.png);
}

#brush {
    background-image: url(../asset/brush.png);
}

#square {
    background-image: url(../asset/square.png);
}

#triangle {
    background-image: url(../asset/triangle.png);
}

#line {
    background-image: url(../asset/line.png);
}

#circle {
    background-image: url(../asset/circle.png);
}

#text {
    background-image: url(../asset/text.png);
}

#eraser {
    background-image: url(../asset/eraser.png);
}

#undo {
    background-image: url(../asset/undo.png);
}

#redo {
    background-image: url(../asset/redo.png);
}

select { 
    font-family:Verdana, Geneva, sans-serif; 
    font-size:12px; 
    margin: auto;
    background-color:#EAEAEA;
}

#fill-color {
    margin: auto;
    height: 20px;
    width: 20px;
    border: solid 1px #00cdff;
}

#stroke-color {
    margin: 5px auto;
    text-align:center;
    height: 20px;
    width: 20px;
    border: solid 1px #dfdfdf;
}

#spectrum-cursor{
    position:absolute;
    border-radius:100%;
    background:transparent;
    width:20px;
    height: 20px;
    pointer-events:none;
    z-index:2;
    border:3px solid rgba(255,255,255,0.8);
}

#hue-cursor{
    position:absolute;
    border-radius:20%;
    background:transparent;
    width:30px;
    height: 8px;
    pointer-events:none;
    z-index:2;
    border:3px solid rgba(255,255,255,0.8);
}

#color-picker {
    margin: 0 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius:5%;
    height: 150px;
    width: 100%;
    opacity: 1;
    padding: 5px;
}

#color-picker:hover {
    cursor: crosshair;
}

#canvas {
    position: absolute;
    margin: auto;
    border:1px solid #c3c3c3;
    color:#FFF;
    background-color:transparent;
    z-index: -1;
}

#tempcanvas {
    position: absolute;
    margin: auto;
    border:1px solid #c3c3c3;
    color:#FFF;
    background-color:transparent;
    /* cursor: url('cursor/crop.cur') 2 2, crosshair; */
}

.slidecontainer {
    width: 100%;
    margin:10px;
    padding-top: 10px;
    background-color: #f7f7f7;
    border-radius:10%;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    margin: 10px 20px 25px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6d6d6d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6d6d6d;
    cursor: pointer;
  }
    
